.hostport-width{
    width: 100px;
}

.dropdown-linkbtn,
.dropdown-menu{
    cursor: pointer;
    cursor: hand;
}

#json-files{
    width: 100%;
}

#file-contents:read-write{
    background-color: white;
}

#file-contents,
#request-result{
    min-height: 10vh;
    height: 55vh;
    width: 100%;
    resize: none;
    background-color: light-grey;
    padding-left: 10px;
    padding-right: 10px;
}

#request-result{
    resize: vertical;
    margin-bottom: 20vh;
}

#json-files .btn-group,
#json-files ul{
    width: 100%;
}
